.body-Mostrar {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    padding-left: 10%;
    padding-top: 0%;
    overflow-y: auto;
    /* Habilitar el desplazamiento vertical */
    max-height: 100vh;
    /* Ajusta el tamaño máximo del contenedor */
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 20px;
    display: inline-block;
    width: 100%;
    max-width: 960px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
  }
#carritoContenido {
    max-height: 50vh;
    /* Ajusta el tamaño máximo del contenido del carrito */
    overflow-y: auto;
    /* Habilitar el desplazamiento vertical */
}

.Subtitle-titulos{
color: white;
text-align: center;
}

.Subtitle{
    color: white;
}
.Subtitle-centro{
    color: white;
    text-align: center;
}
.button-spacing {
    margin-right: 10px;
    /* Espacio horizontal entre los botones */
  }

.table-striped{
    border: 1px transparent;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1px;
    
}

#carritoBtn{
    margin-left: 700px;
}
.busqueda{
    margin-right: 10px;
}