<body>
    <div class="form-body">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Aplicación de Compras</h3>
                    <p>Menú</p>
                    <button id="capturaBtn" [routerLink]="['/agregar']" class="btn btn-primary button-spacing">Captura de artículo</button>
                    <button id="compraBtn" [routerLink]="['/mostrar']" class="btn btn-primary button-spacing">Compra de artículos</button>
                </div>
            </div>
        </div>
    </div>
</body>